ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5441
POSTGRES_DB=auth_service_eventos
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_password_dev
# Puerto 5441 = Docker (evita choque con Postgres local en 5432)
ConnectionStrings__DefaultConnection=Host=localhost;Port=5441;Database=auth_service_eventos;Username=auth_user;Password=auth_password_dev

# JWT
JWT_SECRET_KEY=CHANGE_ME_MIN_32_CHARS_SECRET_KEY_HERE!!
JWT_ISSUER=sistema-eventos-auth
JWT_AUDIENCE=sistema-eventos-services
JWT_EXPIRY_IN_MINUTES=60

# Cloudinary (opcional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_BASE_URL=
CLOUDINARY_DEFAULT_AVATAR_PATH=
CLOUDINARY_FOLDER=auth_service/profiles

# SMTP (opcional)
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Sistema Eventos

# App
FRONTEND_URL=http://localhost:5173
